@import url("https://fonts.googleapis.com/css2?family=Jersey+25+Charted&display=swap");

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.h1 {
  font-family: "Jersey 25 Charted", sans-serif;
  font-weight: 400;
  font-style: oblique;
  color: black !important;
  margin: 1rem;
  padding: 1rem;
  width: 100%;
}

.btn:hover,
.h1:hover {
  zoom: 110%;
}

.body {
  background-image: linear-gradient(
      90deg,
      rgb(225, 225, 225),
      rgb(210, 210, 210)
    ),
    linear-gradient(
      135deg,
      rgb(217, 101, 53) 0%,
      rgb(217, 101, 53) 46%,
      rgb(210, 110, 73) 46%,
      rgb(210, 110, 73) 68%,
      rgb(203, 119, 93) 68%,
      rgb(203, 119, 93) 76%,
      rgb(197, 128, 112) 76%,
      rgb(197, 128, 112) 80%,
      rgb(190, 137, 132) 80%,
      rgb(190, 137, 132) 88%,
      rgb(183, 146, 152) 88%,
      rgb(183, 146, 152) 100%
    ),
    linear-gradient(
      45deg,
      rgb(217, 101, 53) 0%,
      rgb(217, 101, 53) 46%,
      rgb(210, 110, 73) 46%,
      rgb(210, 110, 73) 68%,
      rgb(203, 119, 93) 68%,
      rgb(203, 119, 93) 76%,
      rgb(197, 128, 112) 76%,
      rgb(197, 128, 112) 80%,
      rgb(190, 137, 132) 80%,
      rgb(190, 137, 132) 88%,
      rgb(183, 146, 152) 88%,
      rgb(183, 146, 152) 100%
    );
  background-blend-mode: overlay, overlay, normal;
}

.image {
  border: 5px solid black;
  box-shadow: 3px 3px black;
  border-radius: 10px;
  width: 100%;
}

.btn {
  width: 100%;
  font-family: cursive !important;
}

.description {
  font-family: cursive;
  color: black;
}
